@import "../../CSSSRecylce/mixin.scss";

.container-home {
  margin-left: 70px;
  margin-right: 70px;
}
.container-link-nav {
  .link-nav {
    margin-right: 10px;
  }
}
.light {
  background-color: white;
}
// dark mode
.dark {
  background-color: #000000;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    background-color: $color-dark;
  }
}
.dark-hearder-home {
  color: white;
}
#blur {
  filter: blur(5px);
}
